$steamgreen: #6E8758;

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.game-logo {
  width: 184px;
  height: 69px;
  float: left;
  display: block;
}